<!DOCTYPE html>
<html <%- metaHeader.htmlAttributes.toString() %>>
  <head>
    <base href="<%= basename %>" />
    <meta charSet="UTF-8" />
    <%- metaHeader.title.toString() %>
    <%- metaHeader.base.toString() %>
    <%- metaHeader.meta.toString() %>
    <%- metaHeader.link.toString() %>
    <%- metaHeader.script.toString() %>
    <%- metaHeader.style.toString() %>

    <!-- fix styled-components white screen -->
    <!-- %- styleTags.toString() % -->

    <style>
      body{
        opacity: 0;
        transition: opacity 500ms;
      }
    </style>
  </head>
  <body>
    <div id="root"><!-- html --></div>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>

    <% scriptSrcs.forEach(function(src){ %>
      <script src="<%= src %>"></script>
    <% }) %>

  </body>
</html>
